{% load static %}
<!DOCTYPE html>

<html lang="ja">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="og:type" content="website">
        <meta meta="" name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %} | iniadmatch</title>
        <link rel="stylesheet" type="text/css" href="{% static 'iniadmatch/css/common.css'%}">
        <link rel="stylesheet" type="text/css" href="{% block css %}{% endblock %}">
    </head>
    <body>
        {% include './header.html' %}
        <main>
            <article id="mainarticle">
                {% block content %}{% endblock %}
            </article>
        </main>
        {% include './footer.html' %}
    </body>

    {% block js %}{% endblock %}
    <script src="{% static 'iniadmatch/js/base.js' %}" rel="stylesheet"></script>
</html>
