{% extends 'iniadmatch/base/base.html' %}
{% block title %}トップ{% endblock %}
{% load static %}
{% block css %}{% static 'iniadmatch/css/top.css'%}{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    {% if is_teacher %}
        <p class="title">今後のオフィスアワーの予定</p>
        <div class="card-group">
            <div class="card">
                <a href="{% url 'schedule' 0 %}">
                    <div class="card-text">
                        <p><i class="fas fa-user"></i>泉川 叶多</p>
                        <p><i class="far fa-clock"></i>11/11 13:00~15:00</p>
                        <p><i class="fas fa-tags"></i>CS,研究の相談,python,デザイン</p>
                    </div>
                </a>
            </div>
            <div class="card">
                <a href="{% url 'schedule' 0 %}">
                    <div class="card-text">
                        <p><i class="fas fa-user"></i>泉川 叶多</p>
                        <p><i class="far fa-clock"></i>11/12 13:00~15:00</p>
                        <p><i class="fas fa-tags"></i>CS</p>
                    </div>
                </a>
            </div>
        </div>
    {% else %}
        <p class="title">オフィスアワー一覧</p>
        <div class="card-group">
            <div class="card">
                <a href="{% url 'schedule' 0 %}">
                    <div class="card-text">
                        <p><i class="fas fa-user"></i>石川<span class="card-title">教授</span></p>
                        <p><i class="far fa-clock"></i>11/11 13:00~15:00</p>
                        <p><i class="fas fa-tags"></i>CS,研究の相談,python,デザイン</p>
                    </div>
                </a>
            </div>
            <div class="card">
                <a href="{% url 'schedule' 0 %}">
                    <div class="card-text">
                        <p><i class="fas fa-user"></i>矢代<span class="card-title">教授</span></p>
                        <p><i class="far fa-clock"></i>11/11 14:00~15:00</p>
                        <p><i class="fas fa-tags"></i>IoT,研究の相談,python,OCamel</p>
                    </div>
                </a>
            </div>
        </div>
    {% endif %}
<a href="{% url 'logout' %}">Logout</a><br>
{% else %}
    <div id="logout-view">
        <h1>INIAD Match</h1>
        <p>オフィスアワーを活用しよう！</p>
        <a href="{% url 'social:begin' 'google-oauth2' %}"><button type="button" onclick="location.href='#'">Login</button></a>
    </div>
{% endif %}
{% endblock %}